@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.banner, 
#course-content, 
#transform-world, 
#professional-challenges { 
  border-bottom: 1px solid #33A8DB;
}

/* BANNER */

.banner {
  min-height: 600px;
  text-align: center;

  background-image: linear-gradient(#00000099, #30aadf26 30% 65%, #00000066), url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position-y: bottom;

  display: flex;
  align-items: center;
  justify-content: center;
} 

.banner-content {
  max-width: 515px;
}

.logo {
  background-color: rgba(0, 0, 0, 0.2);
  height: 268px;
  width: 268px;
  border-radius: 50%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 100%;
}

.banner-content h1 {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#33A8DB, #1472B7);

  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;

  margin: 1rem auto;
}

.banner-content button {
  color: #31A8DD;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 900;
  letter-spacing: 0.21em;

  padding: 1.25rem 3.5rem;
  background-color: transparent;
  border: 2px solid transparent;
  border-image: linear-gradient(#3BA1CD, #1572B7) 1;
  cursor: pointer;
}

.banner-content p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

/* MAIN */

#course-content {
  min-height: 530px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#course-content h2 {
  color: #33A8DB;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.19em;
}

#course-content p {
  margin-top: 1.5rem;
}

.modules-list {
  width: 535px;
}

.module span {
  color: #33A8DB;
}

.module {
  padding: 1rem;
  background-color: #252525;
  margin-top: 1.5rem;
  border-radius: 60px;
  border: 1px solid #33A8DB;
  box-shadow: -3px 6px 5px rgba(0, 0, 0, 0.5) inset;
}

#transform-world {
  height: 500px;
  background-image: url('../images/woman-code.png');
  background-attachment: fixed;
  background-repeat: no-repeat;

  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left center;
  position: relative;
}

#transform-world p {
  text-transform: lowercase;
  text-shadow: 3px 2px #33A8DB;
  font-size: 2.5rem;
  font-weight: 900;
  max-width: 244px;
  position: absolute;
  bottom: 36%; left: 10%;
}

#professional-challenges {
  min-height: 820px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#professional-challenges h2 {
  color: #33A8D8;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.19em;
  font-size: 2rem;
}

#professional-challenges img {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

#professional-challenges *, 
#course-content h2, 
#course-content p {
  max-width: 792px;
}

/* FOOTER */

footer {
  text-align: center;
  font-size: 1rem;
  height: 170px;
  background-image: linear-gradient(transparent, #33a8db26);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dio-logo {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #33A8D8;
  font-weight: 600;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  .banner-content {
    margin: 5rem auto;
  }

  #course-content {
    padding: 1.5rem 0;
  }

  #transform-world {
    background-position: 30% center;
  }

  #transform-world p {
    left: 5%;
  }

  #professional-challenges {
    min-height: 600px;
    padding: 2rem 0;
  }

  #course-content h2, 
  #course-content p,
  #professional-challenges *,
  .banner-content {
    max-width: 80%;
  }

  footer * {
    max-width: 60%;
  }
}

@media (max-width: 660px) {
  .logo {
    max-width: 80vw;
    max-height: 80vw;
  }
  
  .module, footer {
    font-size: 87.5%;
  }

  .modules-list {
    width: 70%;
  }

  #transform-world {
    background-position: 45% center;
    height: 100vh;
    max-height: 675px;
    min-height: 150px;
  }

  #transform-world p {
    max-width: 200px;
    font-size: 2rem;
    bottom: 15%;
  }

  #professional-challenges h2 {
    font-size: 1.5rem;
  }
}
